$one: #eee;
$two: #black;
$three: yellow;

$bodyBG: #fffffe;
$bodyText: rgb(72, 72, 72);
$contentMargin: 35px;
$defaultFont: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

$defaultLineHeight: 1.3;
$largeLineHeight: 2;

$linkText: rgb(177,85,85);
$linkTextHover: rgb(72,72,72);

$contentsLink: rgb(105,105,105);
$hashAnchor: #757575;

$headerBG: #3784ca;
$headertext: white;
$headerpadding: 30%;
$h1: inherit;


$navBG: #16191d;
$navtext: white;
$navW: 14.28%;
$navHeight: 40px;
$navEdgeBG: #1c2026;

$footerBG: #1c2026;
$footertext: white;
