@import "variables";

main {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: $contentMargin;
  display: block;
}
main header{
  height: auto;
  background-color: transparent;
  background-image: none;
}
article {
  width: 70%;
  float: right;
}
aside{
  width: 27%;
  padding-right: 3%;
  float: left;
}
header p {
  font-weight: 600;
}
aside nav{

}
aside nav ul {
}
aside nav li{
  width: 100%;
  float: none;
  text-align: left;
}
aside nav a{
  width: 100%;
  height: auto;
  background-color: transparent;
  color: $linkText;
  display: block;
}
aside nav a:hover {
  color: $bodyText;
}


.signupsidewrap {
  width: 100%;
  overflow: hidden;
}
.signupside {
  background-color: $footerBG;
  color: $footertext;
  width: 200%;
  transition: 0.3s all ease;
  position: relative;
}
.signupside a {
  text-decoration: none;
}
.signupside:hover {
  margin-left: -100%;
}
.signupside p, .signupside h2 {
  width: 50%;
}
.signupside p b {
  font-weight: 700;
  color: $linkText;
}
.signupside p {
  width: 46%;
  padding: 2%;
  margin: 0;
  background-color: $faintgrey;
  color: $bodyText;
  text-decoration: none;
}
.signupside h3 {
  position: absolute;
  width: 50%;
  top: 22%;
  left: 50%;
  text-align: center;
}

aside nav {
  background-color: transparent;
  box-shadow: none;
}
