@media only screen and (max-width: 920px) {
  #navcontainer {
    font-size: 80%;
  }
  nav a {
    padding-top: 12px;
    height: 28px;
  }
}


@media only screen and (max-width: 768px) {
  #headercontainer h4 {
    font-size: 150%;
  }
  nav a {
    padding-left: 8px;
    padding-right: 8px;
    height: auto;
  }
  nav ul li {
    width: auto;
  }
  nav li ul {
    position: absolute;
    z-index: 100;
    width: auto;
    height: auto;
    margin-left: 0;
    display: none;
  }
}

/* default style */
.selectnav { display: none; }

@media only screen and (max-width: 600px) {
  .js #nav { display: none; }
  .js #navcontainer { padding-top: 8px; height: 32px; width: 100%; }
  .js .selectnav { display: block; width: 90%; margin: 0 auto; }
  #headercontainer {
    width: 100%;
    background-position: center center;
  }
  #headercontainer h4 {
    display: none;
  }
  #headercontainer p {
    display: none;
  }
  main{
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
  }
  article{
    width: 100%;
    padding: 0;
    float: none;
  }
  aside{
    width: 100%;
    height: auto;
    float: none;
  }
  #tableOfContents{
    position: inherit;
  }

  section {
    width: 100%;
    padding: 0%;
  }
}
